<%-include("./partials/header.ejs") %>
<h1>Prognoza meteo pentru <%= location %></h1>
    <div class="meteoNow">
      <div>
        <h2>Vremea acum ,in <span><%=location %></span></h2>
        <h2><%= today %></h2>
      </div>
      <div>
        <h3><%=result.main.temp.toFixed(1) %>° C</h3>
        <h4>Feels like:<%=result.main.feels_like.toFixed(1)%>° C</h4>
      </div>
      <div>
        <h3><%= result.weather[0].description %></h3>
      </div>
      <div>
        <img src=<%=logo%> alt="weather logo" class="wlogo now">
      </div>
      <div>
        <h3>Vant:</h3>
        <h4><%=result.wind.speed.toFixed(0)%> mps</h4>
        <h4>Directie: <%=windDirection  %></h4>
      </div>
      <div>
        <h3>Rasarit  <%= sunState.sunrise %></h3>
        <h3>Apus  <%= sunState.sunset %></h3>
      </div>
    </div>
    <div class="meteo5d">
      <h2>Prognoza meteo pentru 5 zile</h2>
      <% DataResult2.forEach(function(element) {%>
        <div class="dayCard">
          <h3><%= element[0].day %></h3>
          <% for(let j=1;j<element.length;j++) {%>
           <div>
             <h4><%= element[j].hour  %>:00</h4>
             <h4><%= element[j].temp  %>° C</h4>
             <img src="<%=element[j].logo %>" alt="weather logo" class="wlogo prognose">
             <h4><%= element[j].description  %></h4>
             <h4>Vant: <%= element[j].wind  %> mps</h4>
           </div>
          <% } %>
        </div>
      <% }); %>
    </div>
</section>

